body{
  font-family: 'Roboto', sans-serif;
  color: #f2f2f2;
  letter-spacing: 2px;
}

a{
  text-decoration: none;
  color: #f2f2f2;
}

h2,h3,p{
  margin: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header section */

.header{
  height: 200vh;
  background: rgb(50, 50, 50);
}

.topnav{
  width: 100vw;
  background-color: rgba(20, 20, 20,0.8);
  position: fixed;
  z-index: 2;
}

.logo{
  margin-top: 5px;
  padding: 6px 4px 0px 4px;
  width: 45px;
  height: 45px;
  fill: #f2f2f2;
}

.icon{
  position: absolute;
  top: 22px;
  right: 25px;
}

.icon:hover{
  color: #f2f2f2;
}

.links{
    display: none;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    transition: all .4s ease;
}

/* transition for links */
.links:hover{
  color: #f2f2f2;
  border: 2px solid #0038ff;
}

.responsive .links{
  display: block;
  transform: scale(1);
  opacity: 1;
  animation: anim .4s ease-in-out;
}

@keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0);
  }
  40%{
    opacity: 0.6;
    transform: scale(1.2);
  }

  70%{
    opacity: 0.8;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

 /* ----- draw logo animation ----- */
.svgWrapper{
  display: flex;
  width: 100vw;
  height: 35vh;
  justify-content: center;
  align-items: flex-end;
}

#Contours{
  width: 60vw;
  height: 50vh;
  position: fixed;
  top: 20vh;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* ----- typing animation ----- */
.typingContainer{
  height: 50vh;
}

.inline{
  display: inline-block;
}

.line{
  font-weight: 700;
  margin: 0;
  font-size: 115%;
  white-space: nowrap;
  border-right: 3px solid rgba(242, 242, 242,0.75);
  overflow: hidden;
  transform: translateY(-50%);
}

.anim-typewriter{
  letter-spacing: normal;
  animation: typewriter 12s steps(40) forwards,
  blinkTextCursor .9s step-end infinite;
  animation-iteration-count: infinite;
}

@keyframes typewriter {
  0%{
    width: 0%;
  }
  45%{
    width: 100%;
  }
  60%{
    width: 100%;
  }
  85%{
    width: 0%;
  }
  100%{
    width: 0%;
  }
}

@keyframes blinkTextCursor {

  from,to{
    border-right-color: transparent;
  }
  50%{
    border-right-color: rgba(242, 242, 242,0.75);
  }
}

/* --------------------- about section --------------------- */

.aboutContainer{
  height: 100vh;
  background-color: #f2f2f2;
  color: rgb(65, 65, 65);
}

/* Adjust SplitLayout */
.side-left{
  color: #f2f2f2;
  background-color: rgba(0, 0, 0,0.85);
}

.side-left,
.side-right{
  outline: none;
  cursor: pointer;
}

.back-right,
.back-left{
  font-size: 2.5em;
}

.back-left{
  color: #0038ff;
}

.intro-content h1 > span:first-child {
  font-weight: 900;
}
.intro-content h1 > span:nth-child(2):before{
  background: #0038ff;
  height: 4px;
  left: 20%;
  width: 60%;
}

.socialListContact{
  flex-wrap: wrap;
}

.socialContact{
  font-size: 2.6em;
  width: 30%;
}

.page-inner{
  height: 100vh;
  text-align: center;
  padding: 1em;
}

.page-inner section{
  color: rgb(80,80,80);
}

.right-content-title{
  font-size: 1.5em;
  margin-bottom: 5vh;
}

.right-content-title.tag::after{
  width:65%;
}

.right-content-title::after {
    display: block;
    content: "";
    background: #0038ff;
    height: 3px;
    margin: 0 auto;
    width: 60%;
}

.keywordContainer{
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #fefefe;
  min-height: 40vh;
  padding: 3vh 5vw;
}

.keywordContainer .keyword{
  margin: 5px;
  font-size: 0.7em;
}

.storyContainer{
  background-color: #fefefe;
  padding: 3vh 5vw;
}

.storyContainer .myStory{
  text-align: left;
  font-size: .65em;
  letter-spacing: 2px;
  line-height: 22px;
  text-indent: 2vw;
  margin-top: 3vh;
}

.storyContainer .myStory:first-of-type{
  margin-top: 0;
}

.page-left{
  outline: none;
  color: #f2f2f2;
  background-color:  rgba(0, 0, 0,0.85);
}

.page-inner>h1::after{
    display: block;
    content: "";
    background: #0038ff;
    height: 3px;
    margin: 0 auto;
    width: 60%;
}

.skillContainer{
  flex-direction: column;
}

.skillCard{
  padding: 10px;
  width: 100%;
  margin-bottom: 2vh;
  border: 2px solid rgb(65, 65, 65);
  transition: all .5s ease;
}

.skillCard:hover{
  border: 2px solid #f2f2f2;
}

.skillName{
  margin-bottom: 20px;
}

 li .descSkill{
  font-size: 14px;
  margin: 10px 0;
}

.intro-content-right{
  background-image: url('../img/DSC_2948.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 25vh;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  transition: all .7s ease;
}

.intro-content-right:hover{
  filter: grayscale(40%);
}

/* --------------------- work section --------------------- */
.workContainer{
  height: auto;
  color: rgb(65, 65, 65);
  background-color: #fff;
}

.titleDiv{
  border-left: 4px solid #0038ff;
}

.title{
  font-size: 1.5em;
  display: inline-block;
  position: relative;
  animation: titleAnim 2s linear forwards;
}

@keyframes titleAnim {
  0%{left:-50%; border-bottom: none;}
  60%{left:10%; border-bottom: none}
  100%{left:10%; width: auto;}
}

.projectContainer{
  height: auto;
  flex-direction: column;
  padding-bottom: 3vh;
}

.projectCard{
  width: 85vw;
  margin-top: 3vh;
  transition: all .5s ease;
}

.projectCard:hover{
  border: 3px solid rgb(0, 56, 255);
}

.prjImg{
  width: 100vw;
  position: relative;
	display: block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

.prjImg .bottom{
  display: block;
}

.prjImg:hover .prjOverlay,
.prjImg:active .prjOverlay{
  opacity:1;
  transform: translateX(0);
}

.prj{
  width: 100%;
  height: auto;
}

.prjOverlay{
  display: flex;
  flex-direction: column;
  opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
  background: rgba(0, 0, 0, 0.6);
	color: #f2f2f2;
	padding: 15px;
  transition: all 0.4s ease-in-out 0s;
  transform: translateX(-100%);
}

.prjTitle{
  text-align: center;
  height: 50%;
  font-size: 1.8em;
}

.prjSkill{
  text-align: center;
  margin: 5px 0;
  height: 50%;
}

/* --------------------- footer section --------------------- */
.footer{
  width: 100vw;
  height: 15vh;
  background-color: rgba(20, 20, 20,0.8);
}

.footer-copyright{
  height: 5vh;
}

.logo-copyright{
  margin-left: 12px;
  padding: 6px 4px 0px 4px;
  width: 35px;
  height: 35px;
  fill: #f2f2f2;
}

.socialList{
  display: none;
}

/* --------------------- Icon --------------------- */

/* about me skill section */
.fa-html5,
.fa-css3-alt,
.fa-js{
  margin-bottom: 5px;
  font-size: 30px;
  transition: all .3s ease .2s;
}

.skillCard:hover .fa-html5,
.skillCard:hover .fa-css3-alt,
.skillCard:hover .fa-js{
  color: #0038ff;
}

/* prj skill overlay icon */
.prjSkill .fa-html5,
.prjSkill .fa-css3-alt,
.prjSkill .fa-sass,
.prjSkill .fa-js,
.prjSkill .fa-react{
  margin-bottom: 1vh;
  margin-left: 2vw;
  margin-right: 2vw;
  transition: all .3s ease .2s;
}

.fa-html5:hover,
.fa-css3-alt:hover,
.fa-js:hover,
.fa-sass:hover,
.fa-react:hover,
.fa-github:hover,
.fa-linkedin:hover,
.fa-instagram:hover,
.fa-codepen:hover,
.fa-facebook:hover{
  color: #0038ff;
}

.fa-github,
.fa-linkedin,
.fa-instagram,
.fa-codepen,
.fa-facebook{
  font-size: 1.5em;
  margin: 20px 10px;
  transition: all .3s ease;
}




/* -------------------------- media query --------------------------- */





@media screen and (min-width: 768px) {

  .logo{
    width: 70px;
    height: 70px;
  }

  .topnav{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .links{
    display: inline-block;
    border: 1px solid #f2f2f2;
  }

  .links:hover{
    background-color: rgb(10, 10, 10);
  }

  .icon{
    display: none;
  }

  .line{
    font-size: 250%;
  }

  .titleDiv{
    border-left: 6px solid #0038ff;
    padding-left: 50px;
  }

  .title{
    font-size: 2em;
  }

  .fa-html5,
  .fa-css3-alt,
  .fa-js,
  .fa-sass,
  .fa-react{
    font-size: 40px;
  }

  .prjTitle{
    font-size: 2em;
  }

  .projectContainer{
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .projectCard{
    width: 45vw;
  }

  .footer{
    justify-content: space-evenly;
    height: 10vh;
  }

  .logo-copyright{
    padding-top: 8px;
    width: 40px;
    height: 40px;
  }
/* Adjust SplitLayout */
  .side-left,
  .side-right{
    cursor: pointer;
  }

  .intro-content-left{
    width: 80%;
  }
  .intro-content h1 > span:first-child {
    font-size: 3.5em;
  }

  .skillCard{
    width: 50%;
    margin-bottom: 5vh;
  }

  .page-inner>h1::after{
    width: 30%;
    margin-top: 10px;
  }

  li .descSkill{
   font-size: 15px;
   margin: 15px 0;
 }

 .intro-content-right{
   top: 50vh;
 }
 .right-content-title{
   width: 95%;
   margin-left: auto;
 }

 .keywordContainer,
 .storyContainer{
   width: 95%;
   margin-left: auto;
   min-height: 35vh;
 }

 .storyContainer{
   padding: 25px;
 }

 .storyContainer .myStory{
   line-height: 30px;
   font-size: .75em;
 }

 .right-content-title.tag::after{
   width: 35%;
 }

 .right-content-title::after{
   width: 25%;
   margin: 10px auto 0px auto;
 }

 .projectCard{
   margin-top: 7vh;
 }

 .socialList{
   display: flex;
 }

}

@media screen and (min-width: 1024px) {
   .line{
    font-size: 280%;
  }

  .titleDiv{
    border-left: 8px solid #0038ff;
  }

  .right-content-title{
    width: 75%;
    margin-left: auto;
  }

  .keywordContainer{
    margin-left: auto;
    width: 75%;
    min-height: 45vh;
  }

  .storyContainer{
    margin-left: auto;
    width: 75%;
  }

  .storyContainer .myStory{
    line-height: 40px;
    font-size: .85em;
  }

  .projectCard{
    width: 40vw;
    margin-top: 10vh;
  }

  .fa-html5,
  .fa-css3-alt,
  .fa-js,
  .fa-sass,
  .fa-react{
    font-size: 50px;
  }

  .prjTitle{
    font-size: 2.5em;
  }

  .logo-copyright{
    width: 60px;
    height: 60px;
  }

  .footer{
    font-size: 1.5em;
  }

}

@media screen and (min-width: 1440px){
  /* Adjust SplitLayout */
    .intro-content-right{
      top: 25vh;
    }

    .right-content-title.tag::after{
      width: 25%;
    }

    .right-content-title::after{
      width: 20%;
    }

    .right-content-title{
      width: 80%;
      margin-left: auto;
    }

    .keywordContainer,
    .storyContainer{
      width: 80%;
    }

    .storyContainer .myStory{
      line-height: 50px;
      font-size: .9em;
    }


    .back-left{
      top: 1em;
    }

    .logo-copyright{
      padding-top: 15px;
    }

}

@media screen and (device-width: 411px) and  (device-height:823px){
  /* Adjust SplitLayout */
    .intro-content-right{
      top: 50vh;
    }

}
