@import url(normalize.css);
.navIcons {
  height: 20px;
  width: 20px;
  fill: #fff; }

.alertItems {
  background-color: #9d89fe;
  border-radius: 3px;
  margin: 2vh 2vw;
  padding: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center; }

.alert {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  font-family: "Raleway", sans-serif; }
  @media screen and (min-width: 768px) {
    .alert {
      font-size: 24px; } }

.notifications {
  display: inline-block;
  font-size: 12px;
  width: 80%;
  text-align: center;
  color: #fff; }
  @media screen and (min-width: 768px) {
    .notifications {
      font-size: 18px; } }

.close {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  background-color: #9d89fe;
  border: none; }
  @media screen and (min-width: 768px) {
    .close {
      font-size: 18px; } }

.socialIconContainer {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9d89fe;
  border-radius: 50%;
  width: 50px;
  height: 50px; }
  @media screen and (min-width: 768px) {
    .socialIconContainer {
      width: 75px;
      height: 75px; } }

.card {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2vh 0;
  padding: 1.5vh 3vw;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  background-color: #f3ecf9; }
  @media screen and (min-width: 768px) {
    .card {
      padding: 4vh 3vw;
      width: 30%; } }
  @media screen and (min-width: 1024px) {
    .card {
      width: 30%; } }

* {
  box-sizing: border-box;
  color: #b4b4b4;
  font-family: "Roboto", sans-serif; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  list-style: none; }

p {
  margin: 0; }

h1, h2, h3, h4, h5 {
  margin: 0; }

a {
  text-decoration: none; }

@media screen and (min-width: 768px) {
  .containerAll {
    display: grid;
    grid-template-columns: 70px 1fr 1fr;
    grid-template-areas: "header header header" "nav dashboard dashboard" "nav alert alert" "nav traffic traffic" "nav daily mobile" "nav social social" "nav newMembers activity" "nav messageUser settings"; } }

.header {
  display: flex;
  background-color: #9d89fe;
  padding: 2vh 3vw; }
  @media screen and (min-width: 768px) {
    .header {
      grid-area: header; } }

.yourApp {
  width: 58%;
  padding-top: 5px; }

.span {
  font-weight: 100; }

.title {
  margin: 0;
  font-weight: 900;
  font-size: 4vw;
  color: #fff;
  font-family: "Raleway", sans-serif; }
  @media screen and (min-width: 768px) {
    .title {
      font-size: 2.5vw; } }

.bellNotification {
  width: 10%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .bellNotification {
      font-size: 2vw; } }

.bellAlert {
  background-color: #a5f175;
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  align-self: baseline;
  position: absolute;
  margin-left: 15px; }

@keyframes bell {
  15% {
    transform-origin: 50% 0%;
    transform: rotate(45deg); }
  40% {
    transform-origin: 50% 0%;
    transform: rotate(-35deg); }
  65% {
    transform-origin: 50% 0%;
    transform: rotate(20deg); }
  90% {
    transform-origin: 50% 0%;
    transform: rotate(-10deg); }
  100% {
    transform-origin: 50% 0%;
    transform: rotate(0deg); } }
.bellIcon {
  width: 20px;
  height: 20px; }
  @media screen and (min-width: 768px) {
    .bellIcon {
      width: 30px;
      height: 30px; } }
  @media screen and (min-width: 1024px) {
    .bellIcon {
      width: 50px;
      height: 50px; } }

.bellIcon:hover {
  animation: bell 1.2s ease-out forwards; }

.yourProfile {
  width: 32%;
  border-left: 2px solid #7867a2;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .yourProfile {
      justify-content: space-around;
      display: flex;
      flex-direction: row;
      align-items: center; } }

.img {
  display: inline-block;
  margin-left: 10px; }

.yourName {
  font-size: 12px;
  display: inline-block;
  color: #fff; }
  @media screen and (min-width: 768px) {
    .yourName {
      font-size: 26px; } }

.circleImg {
  border-radius: 50%;
  height: 25px;
  width: 25px; }
  @media screen and (min-width: 768px) {
    .circleImg {
      border-radius: 50%;
      height: 35px;
      width: 35px; } }
  @media screen and (min-width: 1024px) {
    .circleImg {
      border-radius: 50%;
      height: 50px;
      width: 50px; } }

.nav {
  background-color: #5e5596;
  padding: 1.5vh 3vw; }
  @media screen and (min-width: 768px) {
    .nav {
      grid-area: nav;
      padding: 0; } }

.ul {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .ul {
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      align-items: center; } }

.link {
  display: inline-block; }
  @media screen and (min-width: 768px) {
    .link {
      margin: 45px auto; } }

.anchor {
  display: block;
  height: 20px; }

@media screen and (min-width: 768px) {
  .navIcons {
    width: 30px;
    height: 30px; } }

.dashboard {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .dashboard {
      grid-area: dashboard; } }

.spanDash {
  display: inline-block;
  margin: 0 auto; }

.dashboardTitle {
  font-size: 16px;
  margin: 0;
  display: inline-block; }
  @media screen and (min-width: 768px) {
    .dashboardTitle {
      font-size: 26px; } }

.spanSearch {
  width: 65%;
  display: inline-block;
  padding: 5px 5px 8px 5px;
  border-left: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  background-color: #f4f4f4; }
  @media screen and (min-width: 768px) {
    .spanSearch {
      padding: 15px 5px 20px 5px;
      height: 70px; } }

.searchForm {
  display: inline-block;
  margin-left: 15px;
  width: 90%; }
  @media screen and (min-width: 768px) {
    .searchForm {
      margin-left: 50%; } }

.search {
  font-size: 12px;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  padding: 5px;
  height: 20px;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .search {
      height: 40px;
      width: 50%; } }

.search:focus {
  outline: #4f9ed0 auto 3px; }

.search::placeholder {
  color: #b4b4b4; }

@media screen and (min-width: 768px) {
  .alertContainer {
    grid-area: alert;
    margin: 20px 0; } }

.traffic {
  padding: 0 2vw; }
  @media screen and (min-width: 768px) {
    .traffic {
      grid-area: traffic; } }

@media screen and (min-width: 768px) {
  .dailyTraffic {
    grid-area: daily; } }

@media screen and (min-width: 768px) {
  .mobileUsers {
    grid-area: mobile;
    border-left: 1px solid #aaaaaa; } }

.tab {
  justify-content: initial;
  display: flex;
  flex-direction: row;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .tab {
      margin: 15px 0; } }

.sectionTitle {
  margin: 0;
  display: inline-block; }
  @media screen and (min-width: 768px) {
    .sectionTitle {
      font-size: 26px;
      margin-right: auto; } }

.trafficTab {
  width: 70%;
  margin-left: auto;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  align-items: center; }

.tabItems {
  display: inline-block;
  font-size: 12px;
  cursor: pointer; }
  @media screen and (min-width: 768px) {
    .tabItems {
      font-size: 20px; } }

.selected {
  color: #fff;
  background-color: #81c37b;
  padding: 5px 8px;
  border-radius: 5px; }

@media screen and (min-width: 768px) {
  #trafficLine,
  #dailyBar,
  #mobilePie,
  .cardContainer,
  .membersList,
  .activityList,
  .messageForm,
  .settingsForm {
    margin-top: 30px;
    padding: 5px 10px; } }

@media screen and (min-width: 768px) {
  .socialStats {
    grid-area: social; } }

.section {
  border-top: 1px solid #aaaaaa;
  margin-top: 2vh;
  padding: 2vh 3vw; }
  @media screen and (min-width: 768px) {
    .section {
      margin-top: 0; } }

@media screen and (min-width: 768px) {
  .cardContainer {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-items: center; } }

.socialIcon {
  height: 25px;
  width: 25px; }
  @media screen and (min-width: 768px) {
    .socialIcon {
      height: 40px;
      width: 40px; } }

.right {
  width: 40%; }

.socialCount {
  margin: 0; }

@media screen and (min-width: 768px) {
  .newMembers {
    grid-area: newMembers; } }

.circleMem {
  border-radius: 50%;
  height: 50px;
  width: 50px; }

.membersItems {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.5vh 0;
  border-bottom: 1px solid #aaaaaa;
  padding: 5px 3px 10px 3px; }

.membersItems:last-child {
  border-bottom: none; }

.memberInfo {
  font-size: 12px;
  width: 70%;
  text-align: center; }

.memberDate {
  font-size: 10px; }

@media screen and (min-width: 768px) {
  .activity {
    grid-area: activity;
    border-left: 1px solid #aaaaaa; } }

.activityItems {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.5vh 0;
  border-bottom: 1px solid #aaaaaa;
  padding: 5px 3px 10px 3px; }

.activityItems:last-child {
  border-bottom: none; }

.activityInfo {
  font-size: 12px;
  width: 70%;
  text-align: center; }

.activityTime {
  font-size: 10px;
  margin-top: 5px; }

@media screen and (min-width: 768px) {
  .messageUser {
    grid-area: messageUser; } }

.messageForm {
  text-align: center;
  padding-top: 5px;
  margin-top: 1.5vh; }
  @media screen and (min-width: 768px) {
    .messageForm {
      margin-top: 30px;
      height: 30vh; } }

.searchUser {
  font-size: 12px;
  padding: 5px;
  width: 80%;
  background-color: #f3ecf9;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  margin-bottom: 10px; }
  @media screen and (min-width: 768px) {
    .searchUser {
      height: 40px; } }

.searchUser:focus,
.textareaUser:focus,
.send:focus {
  outline: #4f9ed0 auto 3px; }

.textareaUser {
  font-size: 12px;
  padding: 5px;
  width: 80%;
  background-color: #f3ecf9;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  margin-bottom: 10px; }
  @media screen and (min-width: 768px) {
    .textareaUser {
      height: 120px; } }

.searchUser::placeholder,
.textareaUser::placeholder {
  color: #b4b4b4; }

.send {
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  width: 80%;
  background-color: #9d89fe;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  cursor: pointer; }
  @media screen and (min-width: 768px) {
    .send {
      height: 40px;
      font-size: 18px; } }

@media screen and (min-width: 768px) {
  .settings {
    grid-area: settings;
    border-left: 1px solid #aaaaaa; } }

.settingsForm {
  text-align: center;
  padding-top: 5px;
  margin-top: 1.5vh; }
  @media screen and (min-width: 768px) {
    .settingsForm {
      margin-top: 30px;
      height: 30vh; } }

.switchDiv {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px; }
  @media screen and (min-width: 768px) {
    .switchDiv {
      height: 40px; } }

.label {
  width: 35%;
  font-size: 14px; }

.select-timezone {
  margin-bottom: 5px; }
  @media screen and (min-width: 768px) {
    .select-timezone {
      margin-top: 40px; } }

.input-text {
  font-size: 12px;
  width: 80%;
  padding: 5px;
  background-color: #f3ecf9;
  color: #aaaaaa;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  margin-bottom: 10px; }
  @media screen and (min-width: 768px) {
    .input-text {
      height: 40px; } }

.input-text:focus,
.save:focus,
.cancel:focus {
  outline: #4f9ed0 auto 3px; }

.save {
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  width: 40%;
  background-color: #9d89fe;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  cursor: pointer; }
  @media screen and (min-width: 768px) {
    .save {
      height: 40px; } }

.cancel {
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  width: 40%;
  background-color: #aaaaaa;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  cursor: pointer; }
  @media screen and (min-width: 768px) {
    .cancel {
      height: 40px; } }

.onoffswitch {
  position: relative;
  width: 75px; }

.onoffswitch-checkbox {
  display: none; }

.switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #aaaaaa;
  border-radius: 20px; }

.on {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s; }

.on:before,
.on:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  box-sizing: border-box; }

.on:before {
  content: "ON";
  padding-left: 10px;
  text-align: left;
  background-color: #9d89fe;
  color: #FFFFFF; }

.on:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #aaaaaa;
  text-align: right; }

.off {
  display: block;
  width: 20px;
  margin: 6px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 43px;
  border: 1px solid #aaaaaa;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s; }

.onoffswitch-checkbox:checked + .switch-label .on {
  margin-left: 0; }

.onoffswitch-checkbox:checked + .switch-label .off {
  right: 0px; }

/*# sourceMappingURL=styles.css.map */
