//Links
%links {
  display: block;
  width: 100%;
  padding-top: 3vh;
  padding-bottom: 3vh;

  @include mq(desktop){
    padding: 1vh 0;
  }
}


//Images
%img{
  @include margin(0);
  display: block;
}


//Headlines



//Nav items

%navItems {
  @include margin(2vh);
  width: 95%;
  border-radius: $brdr-radius;

  @include mq(desktop){
    display: inline-block;
    width: 15%;
  }
}


//btn

%btn {
  @include margin(5vh);
  display: block;
  color: $white-color;
  border-radius: $brdr-radius;
  border: none;
  width: 95%;
  text-transform: uppercase;
  padding-top: 3vh;
  padding-bottom: 3vh;
  font-weight: 800;
  @include mq(desktop){
    display: inline-block;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding: 1vh 0;
  }

}

//grid
%grid__col{
  display: block;
  border-radius: $brdr-radius;
  border: none;
  padding: 3vh 2vw;
  margin-bottom: 1vh;
  @include mq(desktop){
    padding: 1vh 2vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }
}
