.socialStats{
  @include mq(tablet){
    grid-area: social;
  }
}

.section{
  border-top: 1px solid #aaaaaa;
  margin-top: 2vh;
  padding: 2vh 3vw;
  @include mq(tablet){
    margin-top: 0;
  }
}

.cardContainer{
  @include mq(tablet){
    @include flex($just: space-around, $dir: row);
  }
}

.card{
  @extend %card;
}

.socialIconContainer{
  @extend %socialIconContainer;
}

.socialIcon{
  height: 25px;
  width: 25px;
  @include mq(tablet){
    height: 40px;
    width: 40px;
  }
}

.right{
  width: 40%;
}

.socialName{

}

.socialCount{
  margin: 0;
}
